.input {
  height: 36px;
  padding: 6px;
  font-size: 24px;
  font-weight: 100;
  color: #414141;
  background: #f0f0f0;
  border-radius: 6px;
  border: 0.6px solid #414141;

  &Title {
    color: #5f5e5e;
  }

  &:active,
  &:focus {
    outline: none !important;
    border-color: #00a1c9;
    background: #ffffff;
  }
  + &Title {
    color: #00a1c9;
  }

  &Err {
    border-color: #ff3131;
    &:focus {
      border-color: #ff3131;
    }
  }

  &Label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
  }

  &ErrorMsq {
    height: 18px;
    color: #ff3131;
    font-weight: 300;
    font-size: 12px;
    padding: 2px;
  }

  &Password {
    position: relative;

    &Fild {
      padding-right: 34px;
    }

    &Btn {
      position: absolute;
      right: 4px;
      bottom: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      &Icon {
        font-size: 30px;
        fill: #5f5e5e;
      }
    }
  }
}